//import Variables
@use 'src/variables' as *;

//import Mixins
@use 'src/mixins' as *;



*{
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  display: block;
}

ul{
  list-style: none;
  padding: 0;
}

@each $property, $map in $utilities{
  $prefix: map-get($map ,"prefix");
  $values: map-get($map ,"values");

  @each $k, $v in $values{
    .#{$prefix}-#{$k}{
      #{$property}: $v;
    }
  }
};

@each $k, $v in $colors{
  .color-#{$k}{
    color: $v;
  }
  .back-#{$k}{
    background-color: $v;
  }
}