// Import Variables
@use './variables' as *;



// Media Querys
@mixin xs{
    @media (min-width: map-get($break-points, "xs")) {
        @content
    }
};
@mixin sm{
    @media (min-width: map-get($break-points, "sm")) {
        @content
    }
};
@mixin md{
    @media (min-width: map-get($break-points, "md")) {
        @content
    }
};
@mixin lg{
    @media (min-width: map-get($break-points, "lg")) {
        @content
    }
};
@mixin xl{
    @media (min-width: map-get($break-points, "xl")) {
        @content
    }
};


//Componet
@mixin cardWshadow(){
    width: 100%;
    box-shadow: 3px 3px 20px rgb(0, 0, 0, 0.5);
};

@mixin btn($back : null){
    background-color: $back;
    border: 0;
    border-radius: $base-rad;
    cursor: pointer;
    padding-inline: $base-padding;
    padding-block: calc($base-padding / 2);
    transition-duration: 0.2s;
    transition-timing-function: ease;
};