// Stander units
$base-padding: 20px;
$base-margin: 20px;
$base-rad: 20px;
$base-font-size: 1rem;

// Colors
$colors:(
    "blue":(
        "default":#0d6efd,
            "100": lighten(#0d6efd,30%),
            "200": lighten(#0d6efd,25%),
            "300": lighten(#0d6efd,20%),
            "400": lighten(#0d6efd,15%),
            "500": lighten(#0d6efd,10%),
            "600": darken(#0d6efd, 15%),
            "700": darken(#0d6efd, 20%),
            "800": darken(#0d6efd, 25%),
            "900": darken(#0d6efd, 30%),
    ),
    "indigo":(
        "default":#6610f2,
            "100": lighten(#6610f2,30%),
            "200": lighten(#6610f2,25%),
            "300": lighten(#6610f2,20%),
            "400": lighten(#6610f2,15%),
            "500": lighten(#6610f2,10%),
            "600": darken(#6610f2, 15%),
            "700": darken(#6610f2, 20%),
            "800": darken(#6610f2, 25%),
            "900": darken(#6610f2, 30%),
    ) ,
    "purple":(
        "default":#6f42c1,
            "100": lighten(#6f42c1,30%),
            "200": lighten(#6f42c1,25%),
            "300": lighten(#6f42c1, 20%),
            "400": lighten(#6f42c1, 15%),
            "500": lighten(#6f42c1, 10%),
            "600": darken(#6f42c1, 15%),
            "700": darken(#6f42c1, 20%),
            "800": darken(#6f42c1, 25%),
            "900": darken(#6f42c1, 30%),
    ),
    "pink":(
        "default":#d63384,
            "100": lighten(#d63384, 30%),
            "200": lighten(#d63384, 25%),
            "300": lighten(#d63384, 20%),
            "400": lighten(#d63384, 15%),
            "500": lighten(#d63384, 10%),
            "600": darken(#d63384, 15%),
            "700": darken(#d63384, 20%),
            "800": darken(#d63384, 25%),
            "900": darken(#d63384, 30%),
    ),
    "red":(
        "default":#dc3545,
            "100": lighten(#dc3545, 30%),
            "200": lighten(#dc3545, 25%),
            "300": lighten(#dc3545, 20%),
            "400": lighten(#dc3545, 15%),
            "500": lighten(#dc3545, 10%),
            "600": darken(#dc3545, 15%),
            "700": darken(#dc3545, 20%),
            "800": darken(#dc3545, 25%),
            "900": darken(#dc3545, 30%),
    ),
    "orange":(
        "default":#fd7e14,
            "100": lighten(#fd7e14, 30%),
            "200": lighten(#fd7e14, 25%),
            "300": lighten(#fd7e14, 20%),
            "400": lighten(#fd7e14, 15%),
            "500": lighten(#fd7e14, 10%),
            "600": darken(#fd7e14, 15%),
            "700": darken(#fd7e14, 20%),
            "800": darken(#fd7e14, 25%),
            "900": darken(#fd7e14, 30%),
    ),
    "yellow":(
        "default":#ffc107,
            "100": lighten(#ffc107, 30%),
            "200": lighten(#ffc107, 25%),
            "300": lighten(#ffc107, 20%),
            "400": lighten(#ffc107, 15%),
            "500": lighten(#ffc107, 10%),
            "600": darken(#ffc107, 15%),
            "700": darken(#ffc107, 20%),
            "800": darken(#ffc107, 25%),
            "900": darken(#ffc107, 30%),
    ),
    "green":(
        "default":#198754,
            "100": lighten(#198754, 30%),
            "200": lighten(#198754, 25%),
            "300": lighten(#198754, 20%),
            "400": lighten(#198754, 15%),
            "500": lighten(#198754, 10%),
            "600": darken(#198754, 15%),
            "700": darken(#198754, 20%),
            "800": darken(#198754, 25%),
            "900": darken(#198754, 30%),
    ),
    "teal":(
        "default":#20c997,
            "100": lighten(#20c997,30%),
            "200": lighten(#20c997,25%),
            "300": lighten(#20c997,20%),
            "400": lighten(#20c997,15%),
            "500": lighten(#20c997,10%),
            "600": darken(#20c997, 15%),
            "700": darken(#20c997, 20%),
            "800": darken(#20c997, 25%),
            "900": darken(#20c997, 30%),
    ),
    "cyan":(
        "default":#0dcaf0,
            "100": lighten(#0dcaf0, 30%),
            "200": lighten(#0dcaf0, 25%),
            "300": lighten(#0dcaf0, 20%),
            "400": lighten(#0dcaf0, 15%),
            "500": lighten(#0dcaf0, 10%),
            "600": darken(#0dcaf0, 15%),
            "700": darken(#0dcaf0, 20%),
            "800": darken(#0dcaf0, 25%),
            "900": darken(#0dcaf0, 30%),
    ),
);

$gray:(
    "white":#fff,
    "gray":#adb5bd,
    "dark-gray":#212529,
    "black":#000,
);

// Utilities
$utilities:(
    "padding":(
        "prefix":"p",
        "values":(
            "1": $base-padding,
            "2": $base-padding * 1.5,
            "3": $base-padding * 2,
            "4": $base-padding * 2.5,
            "5": $base-padding * 3,
            "6": $base-padding * 3.5,
            "7": $base-padding * 4,
            "8": $base-padding * 4.5,
            "9": $base-padding * 5,
        )
    ),
    "padding-left":(
        "prefix":"pl",
        "values":(
            "1": $base-padding,
            "2": $base-padding * 1.5,
            "3": $base-padding * 2,
            "4": $base-padding * 2.5,
            "5": $base-padding * 3,
            "6": $base-padding * 3.5,
            "7": $base-padding * 4,
            "8": $base-padding * 4.5,
            "9": $base-padding * 5,
        )
    ),
    "padding-right":(
        "prefix":"pr",
        "values":(
            "1": $base-padding,
            "2": $base-padding * 1.5,
            "3": $base-padding * 2,
            "4": $base-padding * 2.5,
            "5": $base-padding * 3,
            "6": $base-padding * 3.5,
            "7": $base-padding * 4,
            "8": $base-padding * 4.5,
            "9": $base-padding * 5,
        )
    ),
    "padding-top":(
        "prefix":"pt",
        "values":(
            "1": $base-padding,
            "2": $base-padding * 1.5,
            "3": $base-padding * 2,
            "4": $base-padding * 2.5,
            "5": $base-padding * 3,
            "6": $base-padding * 3.5,
            "7": $base-padding * 4,
            "8": $base-padding * 4.5,
            "9": $base-padding * 5,
        )
    ),
    "padding-bottom":(
        "prefix":"pb",
        "values":(
            "1": $base-padding,
            "2": $base-padding * 1.5,
            "3": $base-padding * 2,
            "4": $base-padding * 2.5,
            "5": $base-padding * 3,
            "6": $base-padding * 3.5,
            "7": $base-padding * 4,
            "8": $base-padding * 4.5,
            "9": $base-padding * 5,
        )
    ),
    "margin":(
        "prefix":"m",
        "values":(
            "1": $base-margin,
            "2": $base-margin * 1.5,
            "3": $base-margin * 2,
            "4": $base-margin * 2.5,
            "5": $base-margin * 3,
            "6": $base-margin * 3.5,
            "7": $base-margin * 4,
            "8": $base-margin * 4.5,
            "9": $base-margin * 5,
        )
    ),
    "margin-left":(
        "prefix":"ml",
        "values":(
            "1": $base-margin,
            "2": $base-margin * 1.5,
            "3": $base-margin * 2,
            "4": $base-margin * 2.5,
            "5": $base-margin * 3,
            "6": $base-margin * 3.5,
            "7": $base-margin * 4,
            "8": $base-margin * 4.5,
            "9": $base-margin * 5,
        )
    ),
    "margin-right":(
        "prefix":"mr",
        "values":(
            "1": $base-margin,
            "2": $base-margin * 1.5,
            "3": $base-margin * 2,
            "4": $base-margin * 2.5,
            "5": $base-margin * 3,
            "6": $base-margin * 3.5,
            "7": $base-margin * 4,
            "8": $base-margin * 4.5,
            "9": $base-margin * 5,
        )
    ),
    "margin-top":(
        "prefix":"mt",
        "values":(
            "1": $base-margin,
            "2": $base-margin * 1.5,
            "3": $base-margin * 2,
            "4": $base-margin * 2.5,
            "5": $base-margin * 3,
            "6": $base-margin * 3.5,
            "7": $base-margin * 4,
            "8": $base-margin * 4.5,
            "9": $base-margin * 5,
        )
    ),
    "margin-bottom":(
        "prefix":"mb",
        "values":(
            "1": $base-margin,
            "2": $base-margin * 1.5,
            "3": $base-margin * 2,
            "4": $base-margin * 2.5,
            "5": $base-margin * 3,
            "6": $base-margin * 3.5,
            "7": $base-margin * 4,
            "8": $base-margin * 4.5,
            "9": $base-margin * 5,
        )
    ),
    "border-radius":(
        "prefix":"rad",
        "values":(
            "sm": $base-rad * 0.5,
            "base": $base-rad,
            "md": $base-rad * 1.5,
            "lg": $base-rad * 2,
            "xl": $base-rad * 3,
        )
    ),
    "display":(
        "prefix":"d",
        "values":(
            "n": none,
            "in": inline,
            "b": block,
            "f": flex,
            "inb": inline-block,
        )
    ),
    "font-size":(
        "prefix":"fs",
        "values":(
            "sm": $base-font-size *0.5,
            "base": $base-font-size,
            "md": $base-font-size *1.5,
            "lg": $base-font-size *2,
            "xl": $base-font-size *3,
        )
    ),
    "justify-content":(
        "prefix":"justify",
        "values":(
            "center": center,
            "start": flex-start,
            "end": flex-end,
            "spaceB": space-between,
            "spaceA": space-around,
            "spaceE": space-evenly,
        )
    ),
    "align-items":(
        "prefix":"align",
        "values":(
            "center": center,
            "start": flex-start,
            "end": flex-end,
        )
    ),
    "flex-direction":(
        "prefix":"f",
        "values":(
            "row": row,
            "rowR": row-reverse,
            "column": column,
            "columnR": column-reverse,
        )
    ),
    "text-align":(
        "prefix":"text",
        "values":(
            "center": center,
            "left": left,
            "right": right,
        )
    ),
);

// Media Querys
$break-points:(
    "xs":0,
    "sm":480px,
    "md":720px,
    "lg":960px,
    "xl":1200px,
);


// Grid System
$grid-columns: 12;
$grid-gaps:(
    "0": 0,
    "1": 10px,
    "2": 20px,
    "3": 30px,
);